.coursedetails-container {
    width: calc(100% - 10px);
    margin: auto;
    margin-top: 0px;
    padding-top: 90px;
    text-align: initial;
}

.coursedetails-div {
    width: calc(100% - 10px);
    margin: 5px;
    text-align: center;
    padding-bottom: 20px;
}
