.bloglink-container {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: initial;
    cursor: pointer;
    border: 3px solid transparent;
}

.bloglink-container:hover {
    border: 3px solid rgba(0, 0, 0, 0.1);
}

.bloglink-text {
    color: white;
    font-size: 24px;
    font-family: "Exo 2", sans-serif;
    margin: 0px;
}

.bloglink-text-2 {
    color: orange;
    font-size: 18px;
    margin-top: 5px;
}
