.coursesearch-container {
    width: 100%;
    text-align: center;
}

.coursesearch-header-container {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 4px solid rgb(0, 162, 255);
}

.coursesearch-header-text {
    color: white;
    font-size: 18px;
    font-family: "Exo 2", sans-serif;
    margin-bottom: 5px;
}

.coursesearch-pagination-container {
    margin-top: 10px;
}

.coursesearch-pagination-number {
    color: white;
    font-size: 18px;
    font-family: "Exo 2", sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.coursesearch-pagination-icon {
    color: orange;
    font-size: 36px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.coursesearch-pagination-icon:active {
    color: gray;
}

.coursesearch-pagination-inp {
    width: 60px;
    height: 25px;
    color: black;
    font-size: 16px;
    font-family: "Exo 2", sans-serif;
    border: none;
    border-radius: 3px;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.coursesearch-pagination-btn {
    height: 25px;
    color: white;
    background-color: rgb(255, 56, 56);
    font-size: 16px;
    font-family: "Exo 2", sans-serif;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.coursesearch-pagination-btn:hover {
    background-color: rgb(0, 162, 255);
}

.coursesearch-pagination-btn:active {
    background-color: gray;
}
