.coursedetails-info-container {
    width: calc(100% - 320px);
    min-width: 280px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    text-align: initial;
}

.coursedetails-info-container p {
    word-break: break-all;
}

.coursedetails-title {
    color: white;
    font-family: "Exo 2", sans-serif;
    font-size: 24px;
    margin: 5px;
}

.coursedetails-author {
    text-decoration: none;
    color: rgb(0, 174, 255);
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    margin: 5px;
}

.coursedetails-author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    object-fit: cover;
}

.coursedetails-author-name {
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    color: rgb(0, 195, 255);
}

.coursedetails-author-name:hover {
    text-decoration: underline;
}

.coursedetails-enroll {
    text-decoration: none;
    color: rgb(51, 41, 88);
    background-color: orange;
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
    margin: 5px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid rgb(48, 46, 46);
}

.coursedetails-enroll:hover {
    background-color: rgb(0, 174, 255);
}

.coursedetails-enroll:active {
    background-color: gray;
}

.coursedetails-separator {
    height: 30px;
}

.coursedetails-value {
    display: block;
}

.coursedetails-value-icon {
    color: orange;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.coursedetails-value-text {
    color: white;
    font-size: 18px;
    font-family: "Exo 2", sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.coursedetails-outline-header,
.coursedetails-prerequisites-header {
    color: white;
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    margin: 5px;
    padding-left: 5px;
    border-radius: 2px;
    background: linear-gradient(to right, rgb(0, 132, 255), transparent);
}

.coursedetails-outline,
.coursedetails-prerequisites {
    color: white;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    margin: 5px;
    margin-left: 12px;
    white-space: pre-wrap;
}

.coursedetails-author:hover {
    text-decoration: underline;
}

@media screen and (max-width: 650px) {
    .coursedetails-info-container {
        width: calc(100% - 20px);
        min-width: 0px;
    }
}
