.profile-img-div {
    width: 210px;
    display: inline-block;
    padding-right: 40px;
    padding-top: 20px;
    vertical-align: middle;
    text-align: initial;
}

.profile-img-container {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.profile-img-outer {
    width: 200px;
    height: 200px;
    border-radius: 2px;
    margin: 5px;
    position: absolute;
    background-color: rgb(52, 137, 248);
    box-shadow: 1px 1px 5px black;
    transform: rotate(10deg);
    transform-origin: bottom right;
}

.profile-img-inner {
    width: 200px;
    height: 200px;
    border-radius: 2px;
    margin: 5px;
    position: absolute;
    background-color: rgb(255, 174, 0);
    box-shadow: 1px 1px 5px black;
    transform: rotate(5deg);
    transform-origin: bottom right;
}

.profile-img-holder {
    width: 200px;
    height: 200px;
    margin: 5px;
    overflow: hidden;
    position: absolute;
    box-shadow: 1px 1px 5px black;
    background-color: rgb(255, 67, 67);
}

.profile-img {
    width: auto;
    height: 200px;
    border-radius: 2px;
    position: absolute;
    box-shadow: 1px 1px 5px black;
    background-position: center;
}
