.edit-profile-container .profile-img-div {
    width: 210px;
    display: inline-block;
    padding-right: 40px;
    padding-top: 20px;
    vertical-align: middle;
    text-align: initial;
}

.edit-profile-container .profile-img-div {
    vertical-align: top;
}

.edit-profile-container .profile-img-container {
    width: 200px;
    height: 200px;
}

.edit-profile-container .profile-img-back-container {
    width: 200px;
    height: 200px;
    margin: 5px;
    margin-top: 0px;
    overflow: hidden;
    position: absolute;
    box-shadow: 1px 1px 5px black;
    background-color: rgb(37, 37, 37);
}

.edit-profile-container .profile-img-back {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    background-position: center;
    background-size: cover;
    filter: blur(7px);
}

.edit-profile-container .profile-img-holder {
    width: 200px;
    height: 200px;
    margin: 5px;
    overflow: hidden;
    position: absolute;
}

.edit-profile-container .profile-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 5px black;
}
