.form-input {
    width: 260px;
    max-width: calc(100% - 30px);
    height: 30px;
    margin: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    font-size: 14px;
    background-color: transparent;
    color: white;
    font-family: "Exo 2", sans-serif;
}

.form-input::placeholder {
    color: white;
}

.input-label {
    margin: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: rgb(178, 187, 179);
    font-size: 14px;
    font-family: "Exo 2", sans-serif;
}

.form-select {
    width: 198px;
    max-width: calc(100% - 150px);
    min-width: 150px;
    height: 30px;
    margin: 15px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    color: white;
    font-family: "Exo 2", sans-serif;
}

.form-select-option {
    color: black;
    font-family: "Exo 2", sans-serif;
}

.form-input[type="date"] {
    width: 162px;
    margin-left: 0px;
}

.form-button {
    height: 30px;
    border: none;
    outline: none;
    margin: 15px;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgb(0, 162, 255);
    color: white;
    font-family: "Exo 2", sans-serif;
}

.form-button:hover {
    background-color: rgb(39, 194, 39);
}

.form-button:active {
    background-color: rgb(0, 162, 255);
}

.error-container {
    width: 260px;
    height: flex;
    margin: 15px;
    margin-bottom: 5px;
    margin-top: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: rgb(247, 64, 64);
}

.filefield-container .error-container {
    margin-top: 5px;
}

.error-text {
    color: white;
    font-size: 12px;
    margin: 5px;
    margin-top: 0px;
    font-family: "Exo 2", sans-serif;
}

.form-button:disabled {
    background-color: gray;
}

/* log in form specific */

.form-container {
    width: 100%;
    height: flex;
    margin-top: 0px;
    padding-top: 120px;
    padding-bottom: 20px;
    display: flex;
    vertical-align: middle;
    text-align: center;
    justify-content: space-evenly;
}

.login-img {
    width: 450px;
    height: 300px;
    display: inline-block;
}

.form-header {
    width: 290px;
    height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.1)
    );
    color: white;
    z-index: 100;
    display: flex;
    flex: start;
    align-items: center;
}

.form-title {
    margin: 15px;
    color: white;
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
}

.login-form {
    width: flex;
    height: flex;
    min-height: 300px;
    margin: 20px;
    margin-top: 0px;
    display: inline-block;
    padding-bottom: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.1)
    );
}

.loginform-footer {
    color: white;
    font-family: "Exo 2", sans-serif;
    font-size: 14px;
    margin: 0px;
    margin-top: 10px;
}

.loginform-signup-link {
    color: rgb(0, 204, 255);
    font-family: "Exo 2", sans-serif;
    font-size: 14px;
}

.loginform-signup-link:hover {
    color: rgb(0, 119, 255);
}

.loginform-signup-link:active {
    color: rgb(0, 204, 255);
}

@media screen and (max-width: 800px) {
    .login-img {
        display: none;
    }
}
