.profile-container {
    width: calc(100% - 10px);
    margin: 5px;
    margin-top: 70px;
    margin-bottom: 30px;
    padding-top: 10px;
    text-align: initial;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.profile-info {
    display: inline-block;
    margin-bottom: 30px;
}

.profile-info-basic {
    width: 250px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

.profile-info-details {
    width: calc(100% - 300px);
    min-width: 250px;
    padding: 10px;
    padding-left: 15px;
    display: inline-block;
    vertical-align: top;
    border-left: 2px solid rgba(255, 255, 255, 0.1);
}

.profile-img-container {
    width: 200px;
    height: 200px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.profile-img-back-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    box-shadow: 1px 1px 5px black;
    background-color: rgb(37, 37, 37);
}

.profile-img-back {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    background-position: center;
    background-size: cover;
    filter: blur(7px);
}

.profile-img-holder {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
}

.profile-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 5px black;
}

.profile-ls-icon {
    color: rgb(0, 255, 0);
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.profile-ls-text {
    color: white;
    font-size: 14px;
    font-family: "Exo 2", sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    padding-bottom: 2px;
}

.profile-name,
.profile-email,
.profile-rating-text {
    color: white;
    font-size: 22px;
    font-family: "Exo 2", sans-serif;
    margin-top: 5px;
    margin-bottom: 2px;
}

.profile-email {
    font-size: 16px;
    color: rgb(0, 162, 255);
    margin-top: 0px;
    margin-bottom: 10px;
}

.profile-rating-text {
    font-size: 16px;
}

.profile-rating-container {
    margin-bottom: 10px;
}

.profile-rating-icon {
    color: orange;
    font-size: 18px;
    display: inline-block;
}

.profile-info-header {
    color: white;
    font-size: 22px;
    font-family: "Exo 2", sans-serif;
    margin-top: 0px;
}

.profile-bio {
    color: rgb(177, 177, 177);
    font-size: 16px;
    font-family: "Exo 2", sans-serif;
    white-space: pre-wrap;
    margin-bottom: 20px;
}

.profile-bcount-icon {
    color: orange;
    font-size: 24px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.profile-bcount-icon-sp1 {
    color: rgb(255, 42, 42);
}

.profile-bcount-icon-sp2 {
    color: rgb(33, 168, 28);
}

.profile-bcount-icon-sp3 {
    color: white;
}

.profile-blog-link p {
    text-decoration: underline;
}

.profile-blog-link:hover .pb-link {
    color: rgb(0, 162, 255);
}

.profile-bcount-text {
    color: rgb(177, 177, 177);
    font-size: 16px;
    font-family: "Exo 2", sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-op-container,
.profile-option-container {
    width: 100%;
    border-top: 2px solid rgb(0, 162, 255);
    display: inline-block;
}

.profile-op-container {
    display: none;
}

.profile-op-expand,
.profile-op,
.profile-option-expand,
.profile-option {
    padding: 5px;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
    text-decoration: none;
    display: inline-block;
    align-items: center;
    cursor: pointer;
}

.profile-op {
    width: flex;
    display: block;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.profile-op:hover .profile-op-icon,
.profile-op:hover .profile-op-text,
.profile-option:hover .profile-option-icon,
.profile-option:hover .profile-option-text {
    color: rgb(0, 162, 255);
}

.profile-op-expand:hover .profile-op-expand-icon,
.profile-option-expand:hover .profile-option-expand-icon {
    color: rgb(0, 162, 255);
}

.profile-op-expand-icon,
.profile-option-expand-icon,
.profile-op-icon,
.profile-option-icon {
    color: white;
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
}

.profile-option-expand-icon {
    margin: 0px;
}

.profile-op-text-container,
.profile-option-text-container {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin-left: 5px;
}

.profile-op-text,
.profile-option-text {
    line-height: 28px;
    color: white;
    font-size: 16px;
    font-family: "Exo 2", sans-serif;
    white-space: nowrap;
    margin-right: 5px;
}

@media screen and (max-width: 730px) {
    .profile-option-container {
        display: none;
    }

    .profile-op-container {
        display: inline-block;
    }
}

@media screen and (max-width: 620px) {
    .profile-info-basic,
    .profile-info-details {
        display: block;
        width: calc(100% - 20px);
    }

    .profile-info-details {
        padding: 10px;
        border: none;
    }
}
