.sitebanner-container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.sitebanner-course-category {
    width: 100%;
    max-width: 1080px;
    top: 0px;
    position: absolute;
    z-index: 50;
    text-align: center;
    display: none;
}

.image-container {
    width: 450px;
    height: 400px;
    margin-left: 40px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}

.sitebanner-img-container {
    height: 400px;
    display: flex;
    position: absolute;
    left: 0px;
}

.sitebanner-img {
    width: 450px;
    height: 400px;
    margin-right: 200px;
    display: inline-block;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.searchbox-container {
    width: calc(100% - 452px);
    max-width: 320px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 20px;
    margin-right: 40px;
}

.sitebanner-searchbox-label {
    font-family: "Exo 2", sans-serif;
    font-size: 24px;
    color: white;
    display: block;
}

.sitebanner-searchbox-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sitebanner-category-icon {
    color: white;
    font-size: 42px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.sitebanner-category-icon:hover {
    color: rgb(0, 162, 255);
}

.sitebanner-category-icon:active {
    color: gray;
}

.sitebanner-searchbox {
    width: calc(100% - 65px);
    max-width: 300px;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
}

.sitebanner-text-container {
    display: inline-block;
}

.sitebanner-text {
    font-family: "Exo 2", sans-serif;
    font-size: 24px;
    color: rgb(140, 210, 231);
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.sitebanner-icons {
    font-size: 36px;
    color: orange;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.wallp-container {
    display: none;
}

.wallp-img {
    width: calc(100% - 40px);
    max-width: 400px;
    height: auto;
    margin: 20px;
}

@media screen and (max-width: 1000px) {
    .sitebanner-container {
        display: inline-block;
        text-align: center;
    }

    .image-container {
        display: none;
    }

    .wallp-container {
        display: block;
    }

    .sitebanner-text-container {
        display: none;
    }

    .searchbox-container {
        width: 100%;
        margin: 0px;
        text-align: center;
        height: 100px;
    }
}
