.coursereview-div {
    width: calc(100% - 320px);
    height: 400px;
    min-width: 280px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.coursereview-header {
    color: white;
    font-family: "Exo 2", sans-serif;
    font-size: 22px;
    margin: 5px;
    padding-left: 5px;
    border-radius: 2px;
    background: linear-gradient(to right, rgb(0, 132, 255), transparent);
}

.coursereview-container {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.coursereview-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    object-fit: cover;
}

.coursereview-nametext {
    width: calc(100% - 80px);
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    padding-bottom: 10px;
    text-align: initial;
    border-bottom: 2px solid rgb(0, 110, 255);
}

.coursereview-inp-container {
    width: calc(100% - 80px);
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    padding-bottom: 10px;
    text-align: initial;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.coursereview-inp {
    width: calc(100% - 15px);
    height: 80px;
    resize: none;
    color: rgb(48, 48, 48);
    font-size: 16px;
    font-family: "Exo 2", sans-serif;
    border: none;
    outline: none;
    border-radius: 3px;
    margin: 5px;
}

.coursereview-rate-text {
    color: white;
    font-size: 16px;
    font-family: "Exo 2", sans-serif;
    margin: 0px;
    margin-left: 5px;
}

.coursereview-star-container {
    margin-left: 5px;
}

.coursereview-star {
    color: orange;
    cursor: pointer;
}

.coursereview-save-btn {
    height: 25px;
    color: white;
    background-color: rgb(0, 162, 255);
    font-size: 16px;
    font-family: "Exo 2", sans-serif;
    margin-left: 5px;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}

.coursereview-save-btn:hover {
    background-color: rgb(8, 165, 16);
}

.coursereview-save-btn:disabled,
.coursereview-save-btn:active {
    background-color: gray;
}

.coursereview-loading-text {
    color: white;
    font-size: 16px;
    font-family: "Exo 2", sans-serif;
    margin: 0px;
    margin-left: 10px;
}

.coursereview-name {
    text-decoration: none;
    color: rgb(0, 183, 255);
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    margin: 5px;
    margin-top: 0px;
    word-break: break-all;
    display: inline-block;
}

.coursereview-name:hover {
    text-decoration: underline;
}

.coursereview-text {
    color: white;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    margin: 5px;
    margin-top: 0px;
    word-break: break-all;
}

.coursereview-rating {
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin: 0px;
    margin-left: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
}

.coursereview-rating-icon {
    color: orange;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 650px) {
    .coursereview-div {
        width: calc(100% - 20px);
        min-width: 0px;
    }
}
