.navbar-container {
    width: 100%;
    max-width: 1080px;
    height: 50px;
    position: fixed;
    z-index: 100;
    background-color: white;
    text-align: center;
}

.navbar-logo {
    width: 150px;
    height: 100%;
    vertical-align: middle;
    font-family: "Exo 2", sans-serif;
    font-size: 24px;
    display: inline-block;
}

.navbar-user {
    width: calc(100% - 152px);
    height: 100%;
    font-family: "Exo 2", sans-serif;
    display: inline-block;
    text-align: right;
}

.navbar-logo-text {
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
    color: rgb(51, 41, 88);
}

.nav-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}

.logout-icon {
    font-size: 30px;
    color: rgb(0, 119, 255);
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-profile {
    text-decoration: none;
    font-weight: bold;
    font-family: "Exo 2", sans-serif;
    color: rgb(0, 119, 255);
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    margin: 10px;
    margin-bottom: 15px;
}

.navbar-profile:hover {
    color: rgb(255, 136, 0);
}

.navbar-profile:active {
    color: gray;
}

.navbar-login,
.navbar-signup {
    text-decoration: none;
    color: rgb(50, 180, 255);
    background-color: rgb(44, 43, 43);
    border-left: 10px solid rgb(50, 180, 255);
    padding: 5px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 10px;
    border-radius: 3px;
    display: inline-block;
}

.navbar-signup {
    color: rgb(45, 216, 45);
    border-left: 10px solid rgb(45, 216, 45);
}

.navbar-login:hover,
.navbar-signup:hover {
    color: rgb(255, 136, 0);
    border-left: 10px solid rgb(255, 136, 0);
}

.navbar-login:active,
.navbar-signup:active {
    color: white;
}

.logout-icon:hover {
    color: rgb(255, 136, 0);
}

.logout-icon:active {
    color: gray;
}

.navbar-span {
    color: white;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (max-width: 500px) {
    .navbar-profile {
        display: none;
    }
}

@media screen and (max-width: 330px) {
    .navbar-signup {
        display: none;
    }
}
