.edit-course-div {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-top: 70px;
}

.edit-course-form-div {
    width: calc(100% - 300px);
    max-width: 700px;
    display: inline-block;
    vertical-align: top;
    text-align: initial;
}

.edit-course-conupd-link {
    color: rgb(0, 162, 255);
    font-size: 18px;
    font-family: "Exo 2", sans-serif;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 15px;
    display: inline-block;
}

.edit-course-conupd-link:hover {
    text-decoration: underline;
}

.edit-course-conupd-link:active {
    color: gray;
}

@media screen and (max-width: 700px) {
    .edit-course-div {
        display: inline-block;
        text-align: center;
    }

    .edit-course-form-div {
        width: calc(100% - 20px);
        padding: 0px;
    }
}
