.footer-container {
    width: 100%;
    margin-top: 250px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    display: block;
    background-color: rgb(9, 3, 27);
}

.footer-container p {
    margin: 4px;
    color: white;
}

.footer-container span {
    margin: 2px;
    color: rgb(0, 255, 255);
}
