.sinfo-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.sinfo-div {
    width: 200px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
}

.sinfo-div-user {
    border-top: 20px solid rgb(47, 255, 47);
}

.sinfo-div-course {
    border-top: 20px solid rgb(0, 162, 255);
}

.sinfo-div-enrollment {
    border-top: 20px solid rgb(255, 54, 54);
}

.sinfo-icon {
    color: orange;
    font-size: 48px;
}

.sinfo-num,
.sinfo-text {
    color: rgb(141, 141, 141);
    font-size: 32px;
    font-family: "Exo 2", sans-serif;
    display: block;
    margin: 10px;
}

.sinfo-num {
    font-size: 48px;
    color: white;
    margin: 2px;
}

@media screen and (max-width: 800px) {
    .sinfo-div {
        width: 150px;
    }

    .sinfo-icon {
        font-size: 36px;
    }

    .sinfo-num {
        font-size: 32px;
    }

    .sinfo-text {
        font-size: 24px;
    }
}

@media screen and (max-width: 640px) {
    .sinfo-div {
        width: 120px;
        margin: 5px;
        padding: 2px;
    }

    .sinfo-num {
        font-size: 24px;
    }

    .sinfo-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .sinfo-div {
        width: calc(100% - 10px);
        margin: 5px;
        padding: 0px;
        border-top-width: 5px;
        border-radius: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .sinfo-icon,
    .sinfo-num,
    .sinfo-text {
        display: inline-block;
        vertical-align: middle;
        margin: 0px;
        margin-left: 5px;
        margin-right: 5px;
        line-height: 100%;
    }
}
