.course-category-div {
    width: calc(100% - 10px);
    max-width: 1070px;
    min-height: 400px;
    margin: 5px;
    margin-top: 80px;
    background: linear-gradient(
        to bottom,
        rgb(53, 146, 196),
        rgb(20, 112, 161),
        rgba(20, 112, 161, 0.6)
    );
    border-radius: 2px;
    display: inline-block;
    box-shadow: 1px 1px 5px black;
}

.course-category-list {
    width: calc(100% - 20px);
    margin: 10px;
    text-align: initial;
}

.course-category-list-header-container {
    width: calc(100% - 10px);
    margin: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.course-category-list-header-icon {
    color: rgb(22, 22, 22);
    font-size: 32px;
    display: inline-block;
    vertical-align: middle;
}

.course-category-list-header-text {
    color: black;
    font-size: 18px;
    font-family: "Exo 2", sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.course-category-list-close-icon {
    color: rgb(22, 22, 22);
    font-size: 32px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.course-category-container {
    width: 260px;
    margin: 5px;
    margin-right: 30px;
    text-align: initial;
    background-color: rgb(35, 41, 56);
    border-radius: 2px;
    border: 2px solid rgb(35, 41, 56);
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s;
}

.course-category-container:hover {
    transform: scale(1.05);
}

.course-category-container:hover .course-category-icon {
    background-color: white;
}

.course-category-container:active {
    transform: scale(1);
}

.course-category-icon {
    color: rgb(35, 41, 56);
    background-color: rgb(200, 204, 207);
    font-size: 36px;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.course-category-name {
    color: white;
    font-size: 18px;
    font-family: "Exo 2", sans-serif;
    margin-left: 10px;
    cursor: pointer;
}
